
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a href="" class="font">
      <img src="viernes.png" alt="viernes" class="nav-logo">
    </a>Viernes</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href=""class="list-item">
        <img src="dashboard.png" alt="Dashboard" class="nav-icon">
        <span>Dashboard</span>
      </a>
      <a mat-list-item href="#"class="list-item">
        <img src="security.png" alt="Seguridad" class="nav-icon">
        <span>Seguridad</span>
      </a>
      <a mat-list-item href="#"class="list-item">
        <img src="notification.png" alt="Notificaciones" class="nav-icon">
        <span>Notificaciones</span>
      </a>
      <a mat-list-item href="#" class="list-item">
        <img src="outline.png" alt="Clima" class="nav-icon">
        <span>Clima</span>
      </a>
      <a mat-list-item href="#"class="list-item-logut">
        <img src="logout.png" alt="Clima" class="logut-icon">
        <span>Cerrar Sesion</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="toolbar">
     
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

