.clock-container {
    background-color: #ffffff;
    border-radius: 80px; 
    height: 110px; 
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border: 1px solid #00000084;
    transition: all 0.3s ease;
    
    @media (max-width: 768px) {
      height: auto; 
      min-height: 110px;
      border-radius: 40px; 
      padding: 15px;
    }
    
    @media (max-width: 480px) {
      border-radius: 25px; 
      margin: 5px;
      min-height: 90px; 
    }
  }
  
  .clock-content {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #333;
    width: 240px;
    
    .date {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
      
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
    
    .time {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 5px;
      
      @media (max-width: 480px) {
        font-size: 24px;
      }
    }
    
    .location {
      font-size: 16px;
      font-weight: 400;
      
      @media (max-width: 480px) {
        font-size: 14px;
      }
    }
  }