<div class="app-container">
  <app-sidenav></app-sidenav>
  <div class="main-content">
    <app-header></app-header>
    <div class="content">
      <div class="top-section">
        <app-image-house></app-image-house>
        <app-weather-details></app-weather-details>
      </div>
      
      <div class="devices-section">
        <h3 class="section-title">Dispositivos</h3>
        <div class="devices-grid">
          <app-toggle-on-dor></app-toggle-on-dor>
        </div>
      </div>
    </div>
  </div>
</div>