<div class="light-control-container">
    <div class="icon-container">
      <mat-icon class="light-icon" [class.on]="status">
        {{ status ? 'lightbulb' : 'lightbulb_outline' }}
      </mat-icon>
      <div class="light-status">
        {{ status ? 'Apagar luces interiores' : 'Encender luces lnteriores' }}
      </div>
    </div>
    
    <div class="toggle-container">
      <mat-slide-toggle 
        color="primary"
        [checked]="status"
        (change)="toggleLight($event)">
        {{ status ? 'Apagar' : 'Encender' }}
      </mat-slide-toggle>
    </div>
  </div>